.dockerignore
Dockerfile

.git
docs/
tests/
src/
finch.egg-info/
**/tmp/*.*

# Any pywps generated log files
**/*.log

# Unit test / Coverage reports
.cache
.pytest_cache

# PyCharm
*.idea

# Byte-compiled / optimized / DLL files
**/__pycache__
**/*.py[cod]
