.dockerignore
Dockerfile
docker-compose.yml

.git/
.github/
CI/
docs/
etc/
tests/
finch.egg-info/
**/tmp/*.*

# Any pywps generated log files
**/*.log

# Unit test / Coverage reports
.cache
.pytest_cache
conftest.py

# PyCharm
*.idea

# Byte-compiled / optimized / DLL files
**/__pycache__
**/*.py[cod]
