default_language_version:
  python: python3

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [ '--py310-plus' ]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
        args: [ '--allow-multiple-documents' ]
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: ".ipynb"
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: name-tests-test
        args: [ '--pytest-test-first' ]
        exclude: "_utils.py|_common.py"
      - id: no-commit-to-branch
        args: [ '--branch', 'main' ]
      - id: pretty-format-json
        args: [ '--autofix', '--no-ensure-ascii', '--no-sort-keys' ]
        exclude: ".geojson|.ipynb"
      - id: trailing-whitespace
  - repo: https://github.com/pappasam/toml-sort
    rev: v0.24.3
    hooks:
      - id: toml-sort-fix
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: [ '--config-file=.yamllint.yaml' ]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      # - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black
        args: [ '--target-version=py310' ]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ '--fix', '--show-fixes' ]
  - repo: https://github.com/pylint-dev/pylint
    rev: v4.0.4
    hooks:
      - id: pylint
        args: [ '--rcfile=.pylintrc.toml', '--errors-only', '--jobs=0', '--disable=import-error' ]
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies: [ 'flake8-rst-docstrings==0.3.0' ]
        args: [ '--config=.flake8' ]
  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
      - id: nbqa-black
        args: [ '--target-version=py310' ]
        additional_dependencies: [ 'black==26.1.0' ]
      - id: nbqa-pyupgrade
        args: [ '--py310-plus' ]
        additional_dependencies: [ 'pyupgrade==3.21.2' ]
      - id: nbqa-isort
        args: [ '--settings-file=pyproject.toml' ]
        additional_dependencies: [ 'isort==7.0.0' ]
  - repo: https://github.com/kynan/nbstripout
    rev: 0.9.0
    hooks:
      - id: nbstripout
        files: ".ipynb"
        args: [ '--keep-output', '--keep-count' ]
  - repo: https://github.com/keewis/blackdoc
    rev: v0.4.6
    hooks:
      - id: blackdoc
        additional_dependencies: [ 'black==26.1.0' ]
      - id: blackdoc-autoupdate-black
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.1
    hooks:
      - id: check-github-workflows
      - id: check-readthedocs
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: quarterly
  skip: [ nbstripout ]
  submodules: false
