[buildout]
extends = buildout.cfg

[settings]
# hostname = localhost
# http-port = 8095
# output-port = 8090

## development options
# log-level = WARN
# versions = noversions

## deployment options
# prefix =  /opt/birdhouse
# user = www-data
# etc-user = root

[noversions]
