name: finch
channels:
  - conda-forge
dependencies:
  - python >=3.10,<3.13
  - pip >=24.2.0
  - anyascii >=0.3.0
  - cftime >=1.4.1
  - cf_xarray >=0.9.3
  - click >=8.0.0
  - clisops >=0.16.2
  - dask >=2023.5.1,<2025.3.0
  - distributed
  - geopandas >=1.0
  - jinja2 >=3.1.4
  - netcdf4 <=1.7.2
  - numcodecs <0.16.0
  - numpy >=1.25.0
  - pandas >=2.2.0
  - parse
  - psutil
  - python-slugify
  - pywps >=4.6
  - pyyaml >=6.0.1
  - scipy >=1.9.0
  - sentry-sdk
  - setuptools >=71.0.0
  - siphon
  - werkzeug >=3.0.6
  - xarray >=2023.11.0,<2025.03.0
  - xclim =0.52.2  # remember to match xclim version in requirements_docs.txt as well
  - xesmf >=0.8.2,!=0.8.8
  - xscen =0.10.0  # remember to match xscen version in environment.yml as well
