-e git://github.com/geopython/pywps.git#egg=pywps
-e git://github.com/ouranosinc/xclim.git#egg=xclim
jinja2
click
psutil
bottleneck
netcdf4
numpy
unidecode
dask[complete]
scipy
requests
xarray>=0.12
sentry-sdk
siphon
