anyascii
birdhouse-birdy>=0.8.1
cftime
cf-xarray
ipython
matplotlib
nbsphinx
pandas>=1.5.3,<2.2.0
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
pywps>=4.5.1
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
sphinx>=7.0.0
sphinxcontrib-bibtex
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
xarray>=2023.01.0,<2023.11.0
xclim==0.43
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
