bottleneck
cftime
click
clisops>=0.9.3
dask[complete]
geopandas!=0.13.1
netcdf4
numpy
pandas
parse
psutil
python-slugify
pywps>=4.5.1
pyyaml
requests
scipy
sentry-sdk
siphon
unidecode
xarray>=0.18.2
xclim==0.43
xesmf>=0.6.2
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
