anyascii>=0.3.0
birdhouse-birdy>=0.8.1
cf-xarray>=0.9.3
cftime>=1.4.1
ipython>=8.0.0
matplotlib>=3.5.0
nbsphinx>=0.9.5
numpy>=1.23.0
pandas>=2.2.0
pywps>=4.5.1
setuptools>=71.0.0
sphinx>=7.0.0
sphinxcontrib-bibtex>=2.6.0
xarray>=2023.11.0
xclim==0.52.2
