anyascii>=0.3.0
cf-xarray>=0.9.3
cftime>=1.4.1
click>=8.0.0
clisops>=0.11.0
dask[complete]>=2023.5.1
geopandas!=0.13.1
netcdf4<=1.7.2
numpy>=1.23.0
pandas>=2.2.0
parse
psutil
python-slugify
pywps>=4.5.1
pyyaml>=6.0.1
scipy>=1.9.0
sentry-sdk
setuptools>=71.0.0
siphon
xarray>=2023.11.0
xclim==0.52.2 # remember to match xclim version in environment.yml as well
xesmf>=0.6.2
