name: Conditional Bump Version

on:
  push:
    branches:
      - main
    paths-ignore:
      - .*
      - .github/*/*.md
      - .github/*/*.yml
      - AUTHORS.rst
      - CHANGELOG.rst
      - CI/*.in
      - CI/*.txt
      - Dockerfile
      - Makefile
      - docker-compose.yml
      - docs/*/*.ipynb
      - docs/*/*.py
      - docs/*/*.rst
      - docs/Makefile
      - docs/_static/*
      - environment-dev.yml
      - environment-docs.yml
      - environment.yml
      - pyproject.toml
      - src/finch/__version__.py

permissions:
  contents: read

jobs:
  bump_patch_version:
    name: Bumpversion Patch
    runs-on: ubuntu-latest
    permissions:
      actions: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            files.pythonhosted.org:443
            github.com:443
            pypi.org:443
      - name: Generate App Token
        id: token_generator
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.BIRDHOUSE_HELPER_BOT_ID }}
          private-key: ${{ secrets.BIRDHOUSE_HELPER_BOT_KEY }}
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ steps.token_generator.outputs.token }}
          persist-credentials: false
      - name: Set up Python3
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.x"
      - name: Import GPG Key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        with:
          gpg_private_key: ${{ secrets.BIRDHOUSE_HELPER_BOT_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.BIRDHOUSE_HELPER_BOT_GPG_PRIVATE_KEY_PASSWORD }}
          git_user_signingkey: true
          git_commit_gpgsign: true
          trust_level: 5
      - name: Install CI libraries
        run: |
          python -m pip install --require-hashes -r CI/requirements_ci.txt
      - name: Conditional Bump
        run: |
          CURRENT_VERSION=$(bump-my-version show current_version)
          if [[ ${CURRENT_VERSION} =~ -dev(\.\d+)? ]]; then
            echo "Development version (ends in 'dev(\.\d+)?'), bumping 'build' version"
            bump-my-version bump build
          else
            echo "Version is stable, bumping 'patch' version"
            bump-my-version bump patch
          fi
          echo "new_version=$(bump-my-version show current_version)"
      - name: Push Changes
        uses: ad-m/github-push-action@77c5b412c50b723d2a4fbc6d71fb5723bcd439aa # v1.0.0
        with:
          force: false
          branch: ${{ github.ref }}
          github_token: ${{ steps.token_generator.outputs.token }}
